// CONNECT STYLES

.wpcf7 {
	background: lightcyan;
	padding:2%;
}
.wpcf7-form p {
	// float:left;
	display:inline-block;
}
.wpcf7-form p:nth-child(3n){
	color:red;
}
.wpcf7-form p:nth-child(4n){
	color:red;
	display:none;
	// float:left;
}
// MSG BOX
.wpcf7-form p:nth-child(5n){
	color:blue;
	width: 100%;
}
.wpcf7-textarea {
	width: 100%;
}
// ======
.wpcf7-form p:nth-child(6n) input {
	width:100%;
}
input {
	width: 80%;
}
