footer {
	clear: both;
	padding-bottom:3%;
}
.footer-float-right {
	float:right;
	position:relative;
	right:3%;
}
.cp p {
	font-family: 'Open Sans', sans-serif;
	font-size:9px;
	color:gray;
	margin:0;
	padding-bottom:20px;
}