// NAVIGATION STYLES
// .nav-wrapper {
// 	background:cyan;
// }
.responsive-header {
	display:none;
	position:fixed;
	z-index:30;
	text-align:center;
	ul.menu {
		margin:0;
		padding:0;
		li {
			display:inline-block;
			margin-right: 10px;
			a {
				font-family:'Open Sans', sans-serif;
				font-weight:400;
				color: black;
				padding: 10px 0;
				text-align:left;
				display:block;
				font-size:26px;
				line-height:15px;
			}
		}
	}
}
.default-header {
	right:100px;
}
.default-header ul.menu {

	margin: 0;
	padding: 0;
	margin-right:50px;
	margin-top:20px;
	// position:fixed;
	// right:100px;
	li {
		display: block;
		margin-right: 10px;
		
		a {
			font-family:'Open Sans', sans-serif;
			font-weight:400;
			color: black;
			padding: 10px 0;
			text-align:left;
			display:block;
			font-size:26px;
			line-height:15px;
			// effect starts below
			vertical-align: middle;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-moz-osx-font-smoothing: grayscale;
			position: relative;
			overflow: hidden;

		}
	}
}
li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #333;
  height: 5px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
li a:hover:before, a:focus:before, a:active:before {
  right: 0;
}
.fixed {
	position:fixed;

	z-index:100;
}
