// SPLASH STYLES

h1 {
	font-family: 'Montserrat', sans-serif;
	color:black;
	font-size:70px;
	margin:0;
	// line-height:10px;
	line-height:18px;
	margin-top:31px;
}
.splash {
	@include section;
	background: url(images/mountains2.jpg) no-repeat;
	background-size:cover; 
	background-attachment:fixed;
}

.social-media-container {
	margin-bottom:5px;
	padding-bottom:12px;
	.fa {
		color:black;
		font-size:20px;
		margin-right:7px;
		&:hover, &:focus {
			color:$darkpurple;
		}
		// border:1px solid black;
	}
	img {
	width:4%;
	margin-right:5px;
	}
}
.hello {
	font-family: 'Open Sans', sans-serif;
	font-size:30px;
	margin-top:0;
}
.about-headline {
	font-family: 'Open Sans', sans-serif;
	font-size:27px;
}







